@font-face {
  font-family: "Verlag Book";
  src: url("fonts/Verlag-Book/Verlag-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Verlag-Book/Verlag-Book.otf") format("opentype"), url("fonts/Verlag-Book/Verlag-Book.woff") format("woff"), url("fonts/Verlag-Book/Verlag-Book.ttf") format("truetype"), url("fonts/Verlag-Book/Verlag-Book.svg#Verlag-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag Bold";
  src: url("fonts/Verlag-Bold/Verlag-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Verlag-Bold/Verlag-Bold.otf") format("opentype"), url("fonts/Verlag-Bold/Verlag-Bold.woff") format("woff"), url("fonts/Verlag-Bold/Verlag-Bold.ttf") format("truetype"), url("fonts/Verlag-Bold/Verlag-Bold.svg#Verlag-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General settings */

.link-slider:hover {
  text-decoration: none;
}

.zoom:hover {
  transform: scale(1.1);
}

h1 {
	font-family: 'Verlag Bold';
}

.hr-titre {
	border-top: 3px solid #a51c2a;
	margin: 0 10rem 3rem 10rem;
}

h2 {
    font-family: 'Verlag Bold';
    font-size: 1.5rem !important;
    margin-left: .5rem;
}

h4{
    color: #a51c2a;
}

h5 {
    font-size: 2rem !important;
}

#point {
    padding-bottom: 1rem;
    margin-left: 1rem;
}

.titre-point {
    border-top: 3px solid #a51c2a;
}

.bold {
    font-family: 'Verlag Bold';
}

.active {
    font-family: 'Verlag Bold';
}

#filter > .btn-light:hover {
    border-color: #c16973 !important;
}

#filter > .active {
    border: 2px solid #a51c2a !important;
}

.short-line {
    line-height: 0.1rem;
}

/* nav */

#logo-top {
	width: 10rem;
}

#cart {
 border-right: 0.05rem solid white;
}

#background-grey {
	background-color: black;
}

@media screen and (max-device-width: 61.95rem), screen and (max-width: 61.95rem) {
    #cart {
        border: none;
    }
}


#notifCart {
  
  vertical-align: middle;
  position: relative;
  width: 100px;
}

#notifCart:after {
  content: attr(data-count);
  position: absolute;
  background: #FFFFFF;
  height: 1rem;
  top: 1.4rem;
  right: 3.9rem;
  width: 1rem;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.6rem;
  border-radius: 50%;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  color: #a51c2a;
}

.langues {
	font-size: 0.8rem;
}

img.wine-card {

    width:3rem;
}

/*
.form-icon-color {
	background-color: #a51c2a;
	color: #FFFFFF;
}

/* page produit */

#titreProduit {
	text-transform: uppercase;
	color: #a51c2a;
	font-family: 'Verlag Bold';
}

/* CGV */

.titres_CGV {
	color: #a51c2a;
	font-family: 'Verlag Bold';
	font-size: 1.3rem;
	margin-bottom: 0.8rem;
	margin-top: 3rem;
}

/* Cartes produit */

.prix{
    font-size:1.4rem;
}

.annee{
    color: #a51c2a;
}

#carte > a{
text-decoration: none;
}

/* Newsletter*/

.space {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

/* presse*/

.titres-articles {
	color: #a51c2a;
	font-family: 'Verlag Bold';
	font-size: 2rem;
}


/* customer account*/

#align-user {
	margin-top: 6.2rem;
	margin-left: 3rem;
}



.red-magic > div  {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}


/* footer */
#link-reseaux{
	border-right: 0.05rem solid white;
}

#link-reseaux > a:hover{
    opacity: 0.5;
}

#logo-bottom {
	width: 10rem;
	max-width: none;
}


/* CUSTOMER */

.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay:hover {
  opacity: 1;
}



/* pour le rating page produit */

.rating {
      float:left;
    }


    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1.5rem;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        
        /* line-height:1.2; */
        color:#ddd;
    }


    .rating > input:checked ~ label {
        color: #a51c2a;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #a51c2a;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #a51c2a;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }



